/* ApartmentDetails.module.css */

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
}

.title {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.detail {
  font-size: 18px;
  color: #666;
  margin-bottom: 5px;
}

.description {
  white-space: pre-line;
  color: #444;
  margin-top: 10px;
}
